.bottom-container{
    background: linear-gradient(180deg,#6abeca 0%,rgba(14, 40, 44, 0.57)100%),
    url("../../img/sunny-weather.jpeg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}